@font-face {
  font-family: 'h';
  src: url(../fonts/hamiltoneg.ttf);
}
@font-face {
  font-family: 'd';
  src: url(../fonts/day.otf);
}

body {
  background-color: #2F3D3E;
  font-family: 'd';
}
.wrapper {
  width: 350px;
  margin: 0 auto;
}
.title {
  font-size: 48px;
  font-family: 'd';
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
.block {
  position: relative;
  height: 100vh;
}
.text {
  font-size: 24px;
  font-family: 'd';
  color: white;
  letter-spacing: 2px;
  text-align: center;
}


/* Приветственный экран */
.main__title {
  color: white;
  font-family: 'h';
  font-size: 48px;
  line-height: 89px;
  transform: translateX(-50%) rotate(-15deg); 
  z-index: 50;
  position: absolute;
  bottom: 40px;
  left: 50%;
}
.main__date {
  font-family: 'd';
  font-size: 64px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 50;
}
.main__bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

/* Место и время */
.place__wrapp {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.place__title {
  font-size: 48px;
  font-family: 'd';
  color: white;
  text-align: center;
}
.place__date {
  font-size: 48px;
  font-family: 'd';
  color: white;
  text-align: center;
  margin-top: 30px;
}
.place__address {
  font-size: 48px;
  font-family: 'd';
  color: white;
  text-align: center;
  margin-top: 30px;
}

/* дресс код и пожелания */
.dress__wrapp {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dress__color {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.color-item {
  width: 30px;
  height: 30px;
  background-color: #2B3151;
  border: white 1px solid;
  border-radius: 50%;
  margin: 0 10px;
}
.color-item:nth-child(2) {
  background-color: #2F3D3E;
}
.color-item:nth-child(3) {
  background-color: #4F2728;
}
.color-item:nth-child(4) {
  background-color: #918F92;
}
.dress__text {
  margin-top: 20px;
}
.wishes__title {
  margin-top: 30px;
}
.wishes__items {
  margin-top: 15px;
}
.wishes-item {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* анкета */
.item {
  text-align: center;
}
input.form__input {
  width: 300px;
  height: 45px;
  font-size: 24px;
  color: #2F3D3E;
  letter-spacing: 2px;
  border-radius: 5px;
  padding: 0 20px;
  margin-top: 5px;
}
.item__checkbox {
  width: 300px;
  margin: 0 auto;
}
p.form__text {
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}
label.form__label {
  padding-left: 5px;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
}
.form__item {
  margin-top: 20px;
}
.item__checkbox {
  margin-top: 20px;
}
.items__variant {
  margin-top: 20px;
}
.form__item-button {
  text-align: center;
  margin-top: 20px;
}
button.form__button {
  width: 300px;
  height: 45px;
  padding-top: 5px;
  background: white;
  font-size: 24px;
  color: #2F3D3E;
  letter-spacing: 2px;
  border-radius: 5px;
  text-align: center;
}

/* предупрждение */

.block__warning {
  margin-top: 40px;
  padding-bottom: 100px;
}
.warning__text p {
  margin-top: 20px;
  font-size: 24px;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
.warning__name p{
  margin-top: 10px;
  font-size: 24px;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}
.warning__button {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}
.warning__button a{
  margin-top: 10px;
  font-size: 24px;
  background-color: white;
  color: #2F3D3E;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 60px 5px 60px;
  border-radius: 5px;
  text-decoration: none;
}